<div class="pet-show">
<div class="pet-values flex-grid-sevenths">
  <h5 class="col-modal">
      Pet Name
      <span></span>
      <br>
      {{pet.name}}</h5>
  <h5 class="col-modal">
      Owner Name
      <span></span>
      <br>
      {{pet.owner_name}}</h5>
  <h5 class="col-modal">
      Date of Birth
      <span></span>
      <br>
      {{pet.born_on}}</h5>
  <h5 class="col-modal">
      Pet Gender
      <span></span>
      <br>
      {{pet.gender}}</h5>
  <h5 class="col-modal">
      Pet Breed
      <span></span>
      <br>
      {{pet.breed}}</h5>
</div>
<hr>
<div class="pet-values flex-grid-sevenths">
  <h5 class="col-modal">
      Neutered
      <span></span>
      <br>
      {{pet.neutered}}</h5>
  <h5 class="col-modal">
      Feral
      <span></span>
      <br>{{pet.feral}}</h5>
  <h5 class="col-modal">
      Declawed
      <span></span>
      <br>
      {{pet.declawed}}</h5>
  <h5 class="col-modal">
        Vaccinated
        <span></span>
        <br>
        {{pet.rabes_shot}}
  </h5>
</div>
</div>
