
<h1 class = "pet_list">

{{#each pets}}
    Pet Name <h2><large> {{this.name}}</large></h2>
    Owner Name <h2><large> {{this.owner_name}}</large></h2>
    DOB<h2><small> {{this.born_on}}</small></h2>
    Gender<h2><small> {{this.gender}}</small></h2>
    Breed<h2><small> {{this.breed}}</small></h2>
    Vaccine Date<h2><small> {{this.rabes_date_on}}</small></h2>
    Only Pet?<h2><small> {{this.only_pet}}</small></h2>
  {{/each}}
