  {{#each pets}}
<div class = "pet values">
    <h2><large>Name{{this.name}}</large></h2>
    <h2><large>Owner Name{{this.owner_name}}</large></h2>
    <h2><large> DOB{{this.born_on}}</large></h2>
    <h2><large> Gender{{this.gender}}</large></h2>
    <h2><large> Breed{{this.breed}}</large></h2>
  <form class="update-vaccine-form" data-id="{{id}}">
    <input name="submit" type="submit" class="update-vaccinne-btn" value="Got a shot!">
  </form>
    <form class="update-feral-form" data-id="{{id}}">
    <input name="pet[feral]" type="submit" class="update-feral-btn" value="Not Feral!">
  </form>
    <form class="update-neutered-form" data-id="{{id}}">
    <input name="pet[neutered]" type="submit" class="update-neutered-btn" value="Neutered!!">
  </form>
  <br></br>
    <form class="update-declawed-form" data-id="{{id}}">
    <input name="pet[declawed]" type="submit" class="update-declawed-btn" value="Declawed!!!">
  </form>
  <form class="delete-pet-form" data-id="{{id}}">
    <input name="submit" type="submit" class="delete-pet-btn" value="Remove Pet">
  </form>

{{/each}}

<div class = "patch-pets">



<!-- attach data-id which would  -->
