
<h1 class = "pet_list">

{{#each pets}}
  <h2><large>{{ID: this.id}}</large></h2><h2><large>{{  Name: this.name}}</large></h2>
  <h2><large>Owner Name:{{this.owner_name}}</large></h2>
    <h2><large> DOB{{this.born_on}}</large></h2>
    <h2><large> Gender{{this.gender}}</large></h2>
    <h2><large> Breed{{this.breed}}</large></h2>
    <h2><large> Vaccine Date{{this.rabes_date_on}}</large></h2>
    <h2><large> Only Pet?{{this.only_pet}}</large></h2>
  {{/each}}
