
<h1 class = "pet_list">

{{#each pets}}
    Pet Name <h2><large>{{this.id}}</large></h2><h2><large>{{this.name}}</large></h2>
    Owner Name <h2><large>{{this.owner_name}}</large></h2>
    DOB<h2><large> {{this.born_on}}</large></h2>
    Gender<h2><large> {{this.gender}}</large></h2>
    Breed<h2><large> {{this.breed}}</large></h2>
    Vaccine Date<h2><large> {{this.rabes_date_on}}</large></h2>
    Only Pet?<h2><large> {{this.only_pet}}</large></h2>
  {{/each}}
